@import "../../App.scss";

* {
  margin: 0;
  padding: 0;
}

a {
  color: #f9af5a;
  text-decoration: none;
}
.custom-404 {
  display: flex;
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0px;
}
.not-found-bg {
  background: $appColor;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  float: left;
  //   height: 100vh;
}
.not-found-bg img {
  width: 80%;
}
.search2 {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  float: left;
  background: #4d4d4d;
  flex-wrap: wrap;
  padding: 40px 30px;
}
.search2 img {
  width: 150px;
  margin: 0 auto 20px auto;
  display: table;
}
.search-help-text {
  width: 100%;
}
.search-help-text h4 {
  font-size: 22px;
  margin-bottom: 20px;
}
.search-help-text p {
  font-size: 18px;
  margin-bottom: 20px;
}
