@import "../../App.scss";
.minicart {
  right: 15px;
  z-index: 999;
  width: 450px;
  background-color: transparent;
  position: absolute;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  transition: ease-in-out 0.5s;

  .trinagle-img {
    position: absolute;
    right: 65px;
  }
  .content {
    width: 100%;
    height: 600px;
    padding: 3px 2px 20px 2px;
    background-color: $appColor;
    position: absolute;
    top: 25px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 13px 43px -9px #000000;
    box-shadow: 0px 13px 43px -9px #000000;
    position: relative;

    .cart-title {
      position: absolute;
      width: 99%;
      height: 30px;
      bottom: 2px;
      background-color: rgb(58, 58, 58);
      color: rgb(175, 175, 175);
      border-radius: 0px 0px 10px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-size: small;
      transition: ease-in-out 0.3s;
      &:hover {
        color: white;
      }
    }

    .pdct-box {
      width: 100%;
      height: 100%;
      padding: 5px;
      overflow-y: scroll;
      background-color: rgb(255, 255, 255);
      border-radius: 10px;
      .pdct {
        width: 100%;
        border-bottom: 1px solid rgb(207, 207, 207);
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        margin-bottom: 5px;
        padding: 5px;
        div {
          width: 50%;
          line-height: 25px;
        }

        .pdct-img {
          height: 90px;
          width: 90px;
        }
        .rmv-item {
          opacity: 0.7;
          cursor: pointer;
          &:hover {
            opacity: 1;
          }
        }
      }
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .pdct-box::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .pdct-box {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
  display: none;
}

.open {
  display: block;
}
